.contact-form-main-container {
  display: flex;
  flex-direction: column;

  .icons-container {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

    .linkedIn {
      cursor: pointer;
      height: 40px;
      width: 40px;
      img{
        border-radius: 8px;
      }
    }
    .instagram {
      cursor: pointer;
      height: 40px;
      width: 40px;
    }
    .github {
       color: black;
      cursor: pointer;
      height: 40px;
      width: 40px;
    }
  }

  h1 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  span {
    color: white;
    text-align: center;
    opacity: 0.6;
  }

  .contact-form-container {
    color: #ffffff;
    .contact-form {
      display: flex;
      flex-direction: column;
      border-radius: 50px;
      width: 50%;
      margin: 50px auto;
      padding: 40px;
      background-image: linear-gradient(180deg, #a71d31 10%, #3f0d12 100%);
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

      @media (max-width: 768px) {
        width: 100%;
        padding: 20px;
        border-radius: 25px;
      }

      label {
        color: #ffffff;
        padding: 10px;
        padding-left: 0;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input:-webkit-autofill {
        /* Set the background color and text color to their original values */
        background-color: black;
        color: white;
      }

      input {
        height: 40px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 10px;

        input::placeholder {
          color: white;
        }
      }

      textarea {
        height: 80px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 10px;
        input::placeholder {
          color: white;
        }
      }

      button {
        margin-top: 20px;
        width: 20%;
      }

      .button_32 {
        outline: none;
        background-color: #c2fbd7;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
          rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
          rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
          rgba(44, 187, 99, 0.15) 0 16px 32px;
        color: black;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
          sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 20%;

        @media (max-width: 768px) {
          width: 40%;
        }

        &:hover {
          box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
            rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
            rgba(44, 187, 99, 0.25) 0 4px 8px,
            rgba(44, 187, 99, 0.25) 0 8px 16px,
            rgba(44, 187, 99, 0.25) 0 16px 32px;
          // transform: scale(1.10) rotate(-0.5deg);
        }
      }
    }
  }
}
